<h2>
  <%= @ship.name %>
</h2>
<p><%= @ship.commission_date.strftime("%d-%m-%Y") %></p>

<h3>Crew</h3>
<ul>
  <% @ship.crew_members.each do |crew| %>
  <li>
    <%= link_to crew.name, crew_member_path(crew) %>
  </li>
  <% end %>
</ul>
